# Node modules
node_modules

# Logs
logs
*.log

# Environment files
.env

# Dependency directories
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker file
Dockerfile

# OS-specific files
.DS_Store

# Git
.git
.gitignore

# Build output
build
dist

# Other unnecessary files
*.md
*.swp
*.swo
